@charset "UTF-8";
/* Modules and Variables
 */
@font-face {
  font-family: "entypo";
  src: url("entypo/entypo.eot");
  src: url("entypo/entypo.eot?#iefix") format("embedded-opentype"), url("entypo/entypo.woff") format("woff"), url("entypo/entypo.ttf") format("truetype"), url("entypo/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal; }
[class="icon-"] > span:before,
[class*=" icon-"] > span:before {
  font-family: "entypo";
  font-size: 26px;
  cursor: move; }

.icon-plus > span:before {
  content: "\2b"; }

.icon-minus > span:before {
  content: "\2d"; }

.icon-info > span:before {
  content: "\2139"; }

.icon-left-thin > span:before {
  content: "\2190"; }

.icon-up-thin > span:before {
  content: "\2191"; }

.icon-right-thin > span:before {
  content: "\2192"; }

.icon-down-thin > span:before {
  content: "\2193"; }

.icon-level-up > span:before {
  content: "\21b0"; }

.icon-level-down > span:before {
  content: "\21b3"; }

.icon-switch > span:before {
  content: "\21c6"; }

.icon-infinity > span:before {
  content: "\221e"; }

.icon-plus-squared > span:before {
  content: "\229e"; }

.icon-minus-squared > span:before {
  content: "\229f"; }

.icon-home > span:before {
  content: "\2302"; }

.icon-keyboard > span:before {
  content: "\2328"; }

.icon-erase > span:before {
  content: "\232b"; }

.icon-pause > span:before {
  content: "\2389"; }

.icon-fast-forward > span:before {
  content: "\23e9"; }

.icon-fast-backward > span:before {
  content: "\23ea"; }

.icon-to-end > span:before {
  content: "\23ed"; }

.icon-to-start > span:before {
  content: "\23ee"; }

.icon-hourglass > span:before {
  content: "\23f3"; }

.icon-stop > span:before {
  content: "\25a0"; }

.icon-up-dir > span:before {
  content: "\25b4"; }

.icon-play > span:before {
  content: "\25b6"; }

.icon-right-dir > span:before {
  content: "\25b8"; }

.icon-down-dir > span:before {
  content: "\25be"; }

.icon-left-dir > span:before {
  content: "\25c2"; }

.icon-adjust > span:before {
  content: "\25d1"; }

.icon-cloud > span:before {
  content: "\2601"; }

.icon-star > span:before {
  content: "\2605"; }

.icon-star-empty > span:before {
  content: "\2606"; }

.icon-cup > span:before {
  content: "\2615"; }

.icon-menu > span:before {
  content: "\2630"; }

.icon-moon > span:before {
  content: "\263d"; }

.icon-heart-empty > span:before {
  content: "\2661"; }

.icon-heart > span:before {
  content: "\2665"; }

.icon-note > span:before {
  content: "\266a"; }

.icon-note-beamed > span:before {
  content: "\266b"; }

.icon-layout > span:before {
  content: "\268f"; }

.icon-flag > span:before {
  content: "\2691"; }

.icon-tools > span:before {
  content: "\2692"; }

.icon-cog > span:before {
  content: "\2699"; }

.icon-attention > span:before {
  content: "\26a0"; }

.icon-flash > span:before {
  content: "\26a1"; }

.icon-record > span:before {
  content: "\26ab"; }

.icon-cloud-thunder > span:before {
  content: "\26c8"; }

.icon-tape > span:before {
  content: "\2707"; }

.icon-flight > span:before {
  content: "\2708"; }

.icon-mail > span:before {
  content: "\2709"; }

.icon-pencil > span:before {
  content: "\270e"; }

.icon-feather > span:before {
  content: "\2712"; }

.icon-check > span:before {
  content: "\2713"; }

.icon-cancel > span:before {
  content: "\2715"; }

.icon-cancel-circled > span:before {
  content: "\2716"; }

.icon-cancel-squared > span:before {
  content: "\274e"; }

.icon-help > span:before {
  content: "\2753"; }

.icon-quote > span:before {
  content: "\275e"; }

.icon-plus-circled > span:before {
  content: "\2795"; }

.icon-minus-circled > span:before {
  content: "\2796"; }

.icon-right > span:before {
  content: "\27a1"; }

.icon-direction > span:before {
  content: "\27a2"; }

.icon-forward > span:before {
  content: "\27a6"; }

.icon-ccw > span:before {
  content: "\27f2"; }

.icon-cw > span:before {
  content: "\27f3"; }

.icon-left > span:before {
  content: "\2b05"; }

.icon-up > span:before {
  content: "\2b06"; }

.icon-down > span:before {
  content: "\2b07"; }

.icon-list-add > span:before {
  content: "\e003"; }

.icon-list > span:before {
  content: "\e005"; }

.icon-left-bold > span:before {
  content: "\e4ad"; }

.icon-right-bold > span:before {
  content: "\e4ae"; }

.icon-up-bold > span:before {
  content: "\e4af"; }

.icon-down-bold > span:before {
  content: "\e4b0"; }

.icon-user-add > span:before {
  content: "\e700"; }

.icon-help-circled > span:before {
  content: "\e704"; }

.icon-info-circled > span:before {
  content: "\e705"; }

.icon-eye > span:before {
  content: "\e70a"; }

.icon-tag > span:before {
  content: "\e70c"; }

.icon-upload-cloud > span:before {
  content: "\e711"; }

.icon-reply > span:before {
  content: "\e712"; }

.icon-reply-all > span:before {
  content: "\e713"; }

.icon-code > span:before {
  content: "\e714"; }

.icon-export > span:before {
  content: "\e715"; }

.icon-print > span:before {
  content: "\e716"; }

.icon-retweet > span:before {
  content: "\e717"; }

.icon-comment > span:before {
  content: "\e718"; }

.icon-chat > span:before {
  content: "\e720"; }

.icon-vcard > span:before {
  content: "\e722"; }

.icon-address > span:before {
  content: "\e723"; }

.icon-location > span:before {
  content: "\e724"; }

.icon-map > span:before {
  content: "\e727"; }

.icon-compass > span:before {
  content: "\e728"; }

.icon-trash > span:before {
  content: "\e729"; }

.icon-doc > span:before {
  content: "\e730"; }

.icon-doc-text-inv > span:before {
  content: "\e731"; }

.icon-docs > span:before {
  content: "\e736"; }

.icon-doc-landscape > span:before {
  content: "\e737"; }

.icon-archive > span:before {
  content: "\e738"; }

.icon-rss > span:before {
  content: "\e73a"; }

.icon-share > span:before {
  content: "\e73c"; }

.icon-basket > span:before {
  content: "\e73d"; }

.icon-shareable > span:before {
  content: "\e73e"; }

.icon-login > span:before {
  content: "\e740"; }

.icon-logout > span:before {
  content: "\e741"; }

.icon-volume > span:before {
  content: "\e742"; }

.icon-resize-full > span:before {
  content: "\e744"; }

.icon-resize-small > span:before {
  content: "\e746"; }

.icon-popup > span:before {
  content: "\e74c"; }

.icon-publish > span:before {
  content: "\e74d"; }

.icon-window > span:before {
  content: "\e74e"; }

.icon-arrow-combo > span:before {
  content: "\e74f"; }

.icon-chart-pie > span:before {
  content: "\e751"; }

.icon-language > span:before {
  content: "\e752"; }

.icon-air > span:before {
  content: "\e753"; }

.icon-database > span:before {
  content: "\e754"; }

.icon-drive > span:before {
  content: "\e755"; }

.icon-bucket > span:before {
  content: "\e756"; }

.icon-thermometer > span:before {
  content: "\e757"; }

.icon-down-circled > span:before {
  content: "\e758"; }

.icon-left-circled > span:before {
  content: "\e759"; }

.icon-right-circled > span:before {
  content: "\e75a"; }

.icon-up-circled > span:before {
  content: "\e75b"; }

.icon-down-open > span:before {
  content: "\e75c"; }

.icon-left-open > span:before {
  content: "\e75d"; }

.icon-right-open > span:before {
  content: "\e75e"; }

.icon-up-open > span:before {
  content: "\e75f"; }

.icon-down-open-mini > span:before {
  content: "\e760"; }

.icon-left-open-mini > span:before {
  content: "\e761"; }

.icon-right-open-mini > span:before {
  content: "\e762"; }

.icon-up-open-mini > span:before {
  content: "\e763"; }

.icon-down-open-big > span:before {
  content: "\e764"; }

.icon-left-open-big > span:before {
  content: "\e765"; }

.icon-right-open-big > span:before {
  content: "\e766"; }

.icon-up-open-big > span:before {
  content: "\e767"; }

.icon-progress-0 > span:before {
  content: "\e768"; }

.icon-progress-1 > span:before {
  content: "\e769"; }

.icon-progress-2 > span:before {
  content: "\e76a"; }

.icon-progress-3 > span:before {
  content: "\e76b"; }

.icon-back-in-time > span:before {
  content: "\e771"; }

.icon-network > span:before {
  content: "\e776"; }

.icon-inbox > span:before {
  content: "\e777"; }

.icon-install > span:before {
  content: "\e778"; }

.icon-lifebuoy > span:before {
  content: "\e788"; }

.icon-mouse > span:before {
  content: "\e789"; }

.icon-dot > span:before {
  content: "\e78b"; }

.icon-dot-2 > span:before {
  content: "\e78c"; }

.icon-dot-3 > span:before {
  content: "\e78d"; }

.icon-suitcase > span:before {
  content: "\e78e"; }

.icon-flow-cascade > span:before {
  content: "\e790"; }

.icon-flow-branch > span:before {
  content: "\e791"; }

.icon-flow-tree > span:before {
  content: "\e792"; }

.icon-flow-line > span:before {
  content: "\e793"; }

.icon-flow-parallel > span:before {
  content: "\e794"; }

.icon-brush > span:before {
  content: "\e79a"; }

.icon-paper-plane > span:before {
  content: "\e79b"; }

.icon-magnet > span:before {
  content: "\e7a1"; }

.icon-gauge > span:before {
  content: "\e7a2"; }

.icon-traffic-cone > span:before {
  content: "\e7a3"; }

.icon-cc > span:before {
  content: "\e7a5"; }

.icon-cc-by > span:before {
  content: "\e7a6"; }

.icon-cc-nc > span:before {
  content: "\e7a7"; }

.icon-cc-nc-eu > span:before {
  content: "\e7a8"; }

.icon-cc-nc-jp > span:before {
  content: "\e7a9"; }

.icon-cc-sa > span:before {
  content: "\e7aa"; }

.icon-cc-nd > span:before {
  content: "\e7ab"; }

.icon-cc-pd > span:before {
  content: "\e7ac"; }

.icon-cc-zero > span:before {
  content: "\e7ad"; }

.icon-cc-share > span:before {
  content: "\e7ae"; }

.icon-cc-remix > span:before {
  content: "\e7af"; }

.icon-github > span:before {
  content: "\f300"; }

.icon-github-circled > span:before {
  content: "\f301"; }

.icon-flickr > span:before {
  content: "\f303"; }

.icon-flickr-circled > span:before {
  content: "\f304"; }

.icon-vimeo > span:before {
  content: "\f306"; }

.icon-vimeo-circled > span:before {
  content: "\f307"; }

.icon-twitter > span:before {
  content: "\f309"; }

.icon-twitter-circled > span:before {
  content: "\f30a"; }

.icon-facebook > span:before {
  content: "\f30c"; }

.icon-facebook-circled > span:before {
  content: "\f30d"; }

.icon-facebook-squared > span:before {
  content: "\f30e"; }

.icon-gplus > span:before {
  content: "\f30f"; }

.icon-gplus-circled > span:before {
  content: "\f310"; }

.icon-pinterest > span:before {
  content: "\f312"; }

.icon-pinterest-circled > span:before {
  content: "\f313"; }

.icon-tumblr > span:before {
  content: "\f315"; }

.icon-tumblr-circled > span:before {
  content: "\f316"; }

.icon-linkedin > span:before {
  content: "\f318"; }

.icon-linkedin-circled > span:before {
  content: "\f319"; }

.icon-dribbble > span:before {
  content: "\f31b"; }

.icon-dribbble-circled > span:before {
  content: "\f31c"; }

.icon-stumbleupon > span:before {
  content: "\f31e"; }

.icon-stumbleupon-circled > span:before {
  content: "\f31f"; }

.icon-lastfm > span:before {
  content: "\f321"; }

.icon-lastfm-circled > span:before {
  content: "\f322"; }

.icon-rdio > span:before {
  content: "\f324"; }

.icon-rdio-circled > span:before {
  content: "\f325"; }

.icon-spotify > span:before {
  content: "\f327"; }

.icon-spotify-circled > span:before {
  content: "\f328"; }

.icon-qq > span:before {
  content: "\f32a"; }

.icon-instagram > span:before {
  content: "\f32d"; }

.icon-dropbox > span:before {
  content: "\f330"; }

.icon-evernote > span:before {
  content: "\f333"; }

.icon-flattr > span:before {
  content: "\f336"; }

.icon-skype > span:before {
  content: "\f339"; }

.icon-skype-circled > span:before {
  content: "\f33a"; }

.icon-renren > span:before {
  content: "\f33c"; }

.icon-sina-weibo > span:before {
  content: "\f33f"; }

.icon-paypal > span:before {
  content: "\f342"; }

.icon-picasa > span:before {
  content: "\f345"; }

.icon-soundcloud > span:before {
  content: "\f348"; }

.icon-mixi > span:before {
  content: "\f34b"; }

.icon-behance > span:before {
  content: "\f34e"; }

.icon-google-circles > span:before {
  content: "\f351"; }

.icon-vkontakte > span:before {
  content: "\f354"; }

.icon-smashing > span:before {
  content: "\f357"; }

.icon-db-shape > span:before {
  content: "\f600"; }

.icon-sweden > span:before {
  content: "\f601"; }

.icon-logo-db > span:before {
  content: "\f603"; }

.icon-picture > span:before {
  content: "ðŸŒ„"; }

.icon-globe > span:before {
  content: "ðŸŒŽ"; }

.icon-leaf > span:before {
  content: "ðŸ‚"; }

.icon-graduation-cap > span:before {
  content: "ðŸŽ“"; }

.icon-mic > span:before {
  content: "ðŸŽ¤"; }

.icon-palette > span:before {
  content: "ðŸŽ¨"; }

.icon-ticket > span:before {
  content: "ðŸŽ«"; }

.icon-video > span:before {
  content: "ðŸŽ¬"; }

.icon-target > span:before {
  content: "ðŸŽ¯"; }

.icon-music > span:before {
  content: "ðŸŽµ"; }

.icon-trophy > span:before {
  content: "ðŸ†"; }

.icon-thumbs-up > span:before {
  content: "ðŸ‘"; }

.icon-thumbs-down > span:before {
  content: "ðŸ‘Ž"; }

.icon-bag > span:before {
  content: "ðŸ‘œ"; }

.icon-user > span:before {
  content: "ðŸ‘¤"; }

.icon-users > span:before {
  content: "ðŸ‘¥"; }

.icon-lamp > span:before {
  content: "ðŸ’¡"; }

.icon-alert > span:before {
  content: "ðŸ’¥"; }

.icon-water > span:before {
  content: "ðŸ’¦"; }

.icon-droplet > span:before {
  content: "ðŸ’§"; }

.icon-credit-card > span:before {
  content: "ðŸ’³"; }

.icon-monitor > span:before {
  content: "ðŸ’»"; }

.icon-briefcase > span:before {
  content: "ðŸ’¼"; }

.icon-floppy > span:before {
  content: "ðŸ’¾"; }

.icon-cd > span:before {
  content: "ðŸ’¿"; }

.icon-folder > span:before {
  content: "ðŸ“"; }

.icon-doc-text > span:before {
  content: "ðŸ“„"; }

.icon-calendar > span:before {
  content: "ðŸ“…"; }

.icon-chart-line > span:before {
  content: "ðŸ“ˆ"; }

.icon-chart-bar > span:before {
  content: "ðŸ“Š"; }

.icon-clipboard > span:before {
  content: "ðŸ“‹"; }

.icon-attach > span:before {
  content: "ðŸ“Ž"; }

.icon-bookmarks > span:before {
  content: "ðŸ“‘"; }

.icon-book > span:before {
  content: "ðŸ“•"; }

.icon-book-open > span:before {
  content: "ðŸ“–"; }

.icon-phone > span:before {
  content: "ðŸ“ž"; }

.icon-megaphone > span:before {
  content: "ðŸ“£"; }

.icon-upload > span:before {
  content: "ðŸ“¤"; }

.icon-download > span:before {
  content: "ðŸ“¥"; }

.icon-box > span:before {
  content: "ðŸ“¦"; }

.icon-newspaper > span:before {
  content: "ðŸ“°"; }

.icon-mobile > span:before {
  content: "ðŸ“±"; }

.icon-signal > span:before {
  content: "ðŸ“¶"; }

.icon-camera > span:before {
  content: "ðŸ“·"; }

.icon-shuffle > span:before {
  content: "ðŸ”€"; }

.icon-loop > span:before {
  content: "ðŸ”"; }

.icon-arrows-ccw > span:before {
  content: "ðŸ”„"; }

.icon-light-down > span:before {
  content: "ðŸ”…"; }

.icon-light-up > span:before {
  content: "ðŸ”†"; }

.icon-mute > span:before {
  content: "ðŸ”‡"; }

.icon-sound > span:before {
  content: "ðŸ”Š"; }

.icon-battery > span:before {
  content: "ðŸ”‹"; }

.icon-search > span:before {
  content: "ðŸ”"; }

.icon-key > span:before {
  content: "ðŸ”‘"; }

.icon-lock > span:before {
  content: "ðŸ”’"; }

.icon-lock-open > span:before {
  content: "ðŸ”“"; }

.icon-bell > span:before {
  content: "ðŸ””"; }

.icon-bookmark > span:before {
  content: "ðŸ”–"; }

.icon-link > span:before {
  content: "ðŸ”—"; }

.icon-back > span:before {
  content: "ðŸ”™"; }

.icon-flashlight > span:before {
  content: "ðŸ”¦"; }

.icon-chart-area > span:before {
  content: "ðŸ”¾"; }

.icon-clock > span:before {
  content: "ðŸ•”"; }

.icon-rocket > span:before {
  content: "ðŸš€"; }

.icon-block > span:before {
  content: "ðŸš«"; }

/* GENERAL STYLES
 */
.slider_captcha {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #a3a3a3;
  background: #eeeeee;
  display: table;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 46px;
  padding: 0;
  -moz-border-top-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius-top-left: 3px;
  border-radius-bottom-left: 3px;
  -moz-border-top-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-radius-top-right: 3px;
  border-radius-bottom-right: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .slider_captcha span {
    display: table-cell;
    vertical-align: middle;
    cursor: default;
    position: relative; }

.swipe-knob {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #72d5ee;
  color: white; }
  .swipe-knob:not(.type_filled)[class*=" icon-"] > span:after {
    display: none; }
  .swipe-knob:not(.type_filled) span {
    display: table;
    width: 100%;
    height: 100%;
    cursor: move; }
    .swipe-knob:not(.type_filled) span:before {
      display: table-cell;
      vertical-align: middle; }
    .swipe-knob:not(.type_filled) span:after {
      font-family: "entypo";
      display: table-cell;
      vertical-align: middle;
      font-size: 26px;
      content: "\E766";
      cursor: move; }
  .swipe-knob:not(.type_filled).swipe_ended {
    background-color: #868d8f;
    right: 0;
    cursor: auto; }
    .swipe-knob:not(.type_filled).swipe_ended span {
      width: 100%;
      height: 100%; }
      .swipe-knob:not(.type_filled).swipe_ended span[class*=" icon-"]:after {
        display: none; }
      .swipe-knob:not(.type_filled).swipe_ended span:after {
        content: "\2713"; }
  .swipe-knob.type_filled {
    left: 46px;
    margin-left: -100%;
    width: 100%;
    cursor: move;
    -moz-border-top-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius-top-left: 3px;
    border-radius-bottom-left: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-radius-top-right: 3px;
    border-radius-bottom-right: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .swipe-knob.type_filled[class*=" icon-"] span {
      position: absolute;
      right: 19px;
      top: 11px;
      cursor: move; }
      .swipe-knob.type_filled[class*=" icon-"] span:after {
        display: none; }
      .swipe-knob.type_filled[class*=" icon-"] span:before {
        display: block;
        vertical-align: none; }
    .swipe-knob.type_filled span {
      position: absolute;
      right: 19px;
      top: 11px;
      cursor: move; }
      .swipe-knob.type_filled span:after {
        font-family: "entypo";
        font-size: 26px;
        content: "\E766"; }
    .swipe-knob.type_filled.swipe_ended {
      background-color: #868d8f;
      right: 0;
      cursor: auto; }
      .swipe-knob.type_filled.swipe_ended span:after {
        content: "\2713"; }

.knob-destiny {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px; }
