/*
 * Modules and Variables
 */

@import "partials/base";

/*
 * GENERAL STYLES
 */

.slider_captcha {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #A3A3A3;

	background: #eee;

	display: table;
	position: relative;
	width: 100%;
	height: $slider-height;

	padding: 0;

	@include rect-left-radius();
	@include rect-right-radius();
	@include text-not-selectable();
	span {
		display: table-cell;
		vertical-align: middle;
		cursor: default;
	}
}

.swipe-knob {
	display: table;
	position: absolute;
	top: 0;
	left: 0;

	width: $slider-height;
	height: $slider-height;

	background-color: #72D5EE;
	color: #fff;
	
	cursor: move;

	&:after {
		display: table-cell;
		vertical-align: middle;		
		font-size: 20px;
		content: "›";
	}

	&.swipe_ended {
		background-color: #868D8F;
		right: 0;
	}

	@include rect-radius();
	@include text-not-selectable();	
}

.knob-destiny {
	position: absolute;
	top: 0;
	right: 0;

	width: $slider-height;
	height: $slider-height;	
}