/*
 * Modules and Variables
 */

@import "partials/base";

/*
 * GENERAL STYLES
 */

.slider_captcha {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #A3A3A3;

	background: #eee;

	display: table;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: $slider-height;

	padding: 0;

	@include rect-left-radius();
	@include rect-right-radius();
	@include text-not-selectable();
	span {
		display: table-cell;
		vertical-align: middle;
		cursor: default;
		position: relative;
	}
}

.swipe-knob {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	
	width: $slider-height;
	height: $slider-height;

	background-color: #72D5EE;
	color: #fff;
	
	cursor: move;

	&:not(.type_filled){

		//span {
			&:after {
				font-family: 'entypo';
				display: table-cell;
				vertical-align: middle;
				font-size: 26px;
				content: "\E766";
				cursor: move;
			}
		//}

		&.swipe_ended {
			background-color: #868D8F;
			right: 0;
			cursor: auto;
			&:after {
				content: "\2713";
			}
		}
	}

	&.type_filled {
		left: $slider-height;
		margin-left: -100%;
		width: 100%;
		

		span {
			position: absolute;
			right: 19px;
			top: 11px;

			&:after {
				font-family: 'entypo';
				font-size: 26px;
				content: "\E766";
			}
			cursor: move;
		}

		&.swipe_ended {
			background-color: #868D8F;
			right: 0;
			cursor: auto;

			span:after {
				content: "\2713";
			}
		}		
	}

	@include rect-radius();
	@include text-not-selectable();
}

.knob-destiny {
	position: absolute;
	top: 0;
	right: 0;

	width: $slider-height;
	height: $slider-height;	
}

@import "partials/entypo";