@charset "UTF-8";
/*
 * Modules and Variables
 */
/*
 * GENERAL STYLES
 */
.slider_captcha {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #A3A3A3;
  background: #eee;
  display: table;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 46px;
  padding: 0;
  -moz-border-top-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius-top-left: 3px;
  border-radius-bottom-left: 3px;
  -moz-border-top-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-radius-top-right: 3px;
  border-radius-bottom-right: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .slider_captcha span {
    display: table-cell;
    vertical-align: middle;
    cursor: default;
    position: relative; }

.swipe-knob {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #72D5EE;
  color: #fff;
  cursor: move;
  -moz-border-top-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-radius-top-left: 3px;
  border-radius-bottom-left: 3px;
  -moz-border-top-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-radius-top-right: 3px;
  border-radius-bottom-right: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .swipe-knob:not(.type_filled):after {
    font-family: 'entypo';
    display: table-cell;
    vertical-align: middle;
    font-size: 26px;
    content: "\E766";
    cursor: move; }
  .swipe-knob:not(.type_filled).swipe_ended {
    background-color: #868D8F;
    right: 0;
    cursor: auto; }
    .swipe-knob:not(.type_filled).swipe_ended:after {
      content: "\2713"; }
  .swipe-knob.type_filled {
    left: 46px;
    margin-left: -100%;
    width: 100%; }
    .swipe-knob.type_filled span {
      position: absolute;
      right: 19px;
      top: 11px;
      cursor: move; }
      .swipe-knob.type_filled span:after {
        font-family: 'entypo';
        font-size: 26px;
        content: "\E766"; }
    .swipe-knob.type_filled.swipe_ended {
      background-color: #868D8F;
      right: 0;
      cursor: auto; }
      .swipe-knob.type_filled.swipe_ended span:after {
        content: "\2713"; }

.knob-destiny {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px; }

@font-face {
  font-family: 'entypo';
  src: url("entypo/entypo.eot");
  src: url("entypo/entypo.eot?#iefix") format("embedded-opentype"), url("entypo/entypo.woff") format("woff"), url("entypo/entypo.ttf") format("truetype"), url("entypo/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity .8 */
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-plus:before {
  content: '\2b'; }

/* '+' */
.icon-minus:before {
  content: '\2d'; }

/* '-' */
.icon-info:before {
  content: '\2139'; }

/* 'â„¹' */
.icon-left-thin:before {
  content: '\2190'; }

/* 'â†' */
.icon-up-thin:before {
  content: '\2191'; }

/* 'â†‘' */
.icon-right-thin:before {
  content: '\2192'; }

/* 'â†’' */
.icon-down-thin:before {
  content: '\2193'; }

/* 'â†“' */
.icon-level-up:before {
  content: '\21b0'; }

/* 'â†°' */
.icon-level-down:before {
  content: '\21b3'; }

/* 'â†³' */
.icon-switch:before {
  content: '\21c6'; }

/* 'â‡†' */
.icon-infinity:before {
  content: '\221e'; }

/* 'âˆž' */
.icon-plus-squared:before {
  content: '\229e'; }

/* 'âŠž' */
.icon-minus-squared:before {
  content: '\229f'; }

/* 'âŠŸ' */
.icon-home:before {
  content: '\2302'; }

/* 'âŒ‚' */
.icon-keyboard:before {
  content: '\2328'; }

/* 'âŒ¨' */
.icon-erase:before {
  content: '\232b'; }

/* 'âŒ«' */
.icon-pause:before {
  content: '\2389'; }

/* 'âŽ‰' */
.icon-fast-forward:before {
  content: '\23e9'; }

/* 'â©' */
.icon-fast-backward:before {
  content: '\23ea'; }

/* 'âª' */
.icon-to-end:before {
  content: '\23ed'; }

/* 'â­' */
.icon-to-start:before {
  content: '\23ee'; }

/* 'â®' */
.icon-hourglass:before {
  content: '\23f3'; }

/* 'â³' */
.icon-stop:before {
  content: '\25a0'; }

/* 'â– ' */
.icon-up-dir:before {
  content: '\25b4'; }

/* 'â–´' */
.icon-play:before {
  content: '\25b6'; }

/* 'â–¶' */
.icon-right-dir:before {
  content: '\25b8'; }

/* 'â–¸' */
.icon-down-dir:before {
  content: '\25be'; }

/* 'â–¾' */
.icon-left-dir:before {
  content: '\25c2'; }

/* 'â—‚' */
.icon-adjust:before {
  content: '\25d1'; }

/* 'â—‘' */
.icon-cloud:before {
  content: '\2601'; }

/* 'â˜' */
.icon-star:before {
  content: '\2605'; }

/* 'â˜…' */
.icon-star-empty:before {
  content: '\2606'; }

/* 'â˜†' */
.icon-cup:before {
  content: '\2615'; }

/* 'â˜•' */
.icon-menu:before {
  content: '\2630'; }

/* 'â˜°' */
.icon-moon:before {
  content: '\263d'; }

/* 'â˜½' */
.icon-heart-empty:before {
  content: '\2661'; }

/* 'â™¡' */
.icon-heart:before {
  content: '\2665'; }

/* 'â™¥' */
.icon-note:before {
  content: '\266a'; }

/* 'â™ª' */
.icon-note-beamed:before {
  content: '\266b'; }

/* 'â™«' */
.icon-layout:before {
  content: '\268f'; }

/* 'âš' */
.icon-flag:before {
  content: '\2691'; }

/* 'âš‘' */
.icon-tools:before {
  content: '\2692'; }

/* 'âš’' */
.icon-cog:before {
  content: '\2699'; }

/* 'âš™' */
.icon-attention:before {
  content: '\26a0'; }

/* 'âš ' */
.icon-flash:before {
  content: '\26a1'; }

/* 'âš¡' */
.icon-record:before {
  content: '\26ab'; }

/* 'âš«' */
.icon-cloud-thunder:before {
  content: '\26c8'; }

/* 'â›ˆ' */
.icon-tape:before {
  content: '\2707'; }

/* 'âœ‡' */
.icon-flight:before {
  content: '\2708'; }

/* 'âœˆ' */
.icon-mail:before {
  content: '\2709'; }

/* 'âœ‰' */
.icon-pencil:before {
  content: '\270e'; }

/* 'âœŽ' */
.icon-feather:before {
  content: '\2712'; }

/* 'âœ’' */
.icon-check:before {
  content: '\2713'; }

/* 'âœ“' */
.icon-cancel:before {
  content: '\2715'; }

/* 'âœ•' */
.icon-cancel-circled:before {
  content: '\2716'; }

/* 'âœ–' */
.icon-cancel-squared:before {
  content: '\274e'; }

/* 'âŽ' */
.icon-help:before {
  content: '\2753'; }

/* 'â“' */
.icon-quote:before {
  content: '\275e'; }

/* 'âž' */
.icon-plus-circled:before {
  content: '\2795'; }

/* 'âž•' */
.icon-minus-circled:before {
  content: '\2796'; }

/* 'âž–' */
.icon-right:before {
  content: '\27a1'; }

/* 'âž¡' */
.icon-direction:before {
  content: '\27a2'; }

/* 'âž¢' */
.icon-forward:before {
  content: '\27a6'; }

/* 'âž¦' */
.icon-ccw:before {
  content: '\27f2'; }

/* 'âŸ²' */
.icon-cw:before {
  content: '\27f3'; }

/* 'âŸ³' */
.icon-left:before {
  content: '\2b05'; }

/* 'â¬…' */
.icon-up:before {
  content: '\2b06'; }

/* 'â¬†' */
.icon-down:before {
  content: '\2b07'; }

/* 'â¬‡' */
.icon-list-add:before {
  content: '\e003'; }

/* 'î€ƒ' */
.icon-list:before {
  content: '\e005'; }

/* 'î€…' */
.icon-left-bold:before {
  content: '\e4ad'; }

/* 'î’­' */
.icon-right-bold:before {
  content: '\e4ae'; }

/* 'î’®' */
.icon-up-bold:before {
  content: '\e4af'; }

/* 'î’¯' */
.icon-down-bold:before {
  content: '\e4b0'; }

/* 'î’°' */
.icon-user-add:before {
  content: '\e700'; }

/* 'îœ€' */
.icon-help-circled:before {
  content: '\e704'; }

/* 'îœ„' */
.icon-info-circled:before {
  content: '\e705'; }

/* 'îœ…' */
.icon-eye:before {
  content: '\e70a'; }

/* 'îœŠ' */
.icon-tag:before {
  content: '\e70c'; }

/* 'îœŒ' */
.icon-upload-cloud:before {
  content: '\e711'; }

/* 'îœ‘' */
.icon-reply:before {
  content: '\e712'; }

/* 'îœ’' */
.icon-reply-all:before {
  content: '\e713'; }

/* 'îœ“' */
.icon-code:before {
  content: '\e714'; }

/* 'îœ”' */
.icon-export:before {
  content: '\e715'; }

/* 'îœ•' */
.icon-print:before {
  content: '\e716'; }

/* 'îœ–' */
.icon-retweet:before {
  content: '\e717'; }

/* 'îœ—' */
.icon-comment:before {
  content: '\e718'; }

/* 'îœ˜' */
.icon-chat:before {
  content: '\e720'; }

/* 'îœ ' */
.icon-vcard:before {
  content: '\e722'; }

/* 'îœ¢' */
.icon-address:before {
  content: '\e723'; }

/* 'îœ£' */
.icon-location:before {
  content: '\e724'; }

/* 'îœ¤' */
.icon-map:before {
  content: '\e727'; }

/* 'îœ§' */
.icon-compass:before {
  content: '\e728'; }

/* 'îœ¨' */
.icon-trash:before {
  content: '\e729'; }

/* 'îœ©' */
.icon-doc:before {
  content: '\e730'; }

/* 'îœ°' */
.icon-doc-text-inv:before {
  content: '\e731'; }

/* 'îœ±' */
.icon-docs:before {
  content: '\e736'; }

/* 'îœ¶' */
.icon-doc-landscape:before {
  content: '\e737'; }

/* 'îœ·' */
.icon-archive:before {
  content: '\e738'; }

/* 'îœ¸' */
.icon-rss:before {
  content: '\e73a'; }

/* 'îœº' */
.icon-share:before {
  content: '\e73c'; }

/* 'îœ¼' */
.icon-basket:before {
  content: '\e73d'; }

/* 'îœ½' */
.icon-shareable:before {
  content: '\e73e'; }

/* 'îœ¾' */
.icon-login:before {
  content: '\e740'; }

/* 'î€' */
.icon-logout:before {
  content: '\e741'; }

/* 'î' */
.icon-volume:before {
  content: '\e742'; }

/* 'î‚' */
.icon-resize-full:before {
  content: '\e744'; }

/* 'î„' */
.icon-resize-small:before {
  content: '\e746'; }

/* 'î†' */
.icon-popup:before {
  content: '\e74c'; }

/* 'îŒ' */
.icon-publish:before {
  content: '\e74d'; }

/* 'î' */
.icon-window:before {
  content: '\e74e'; }

/* 'îŽ' */
.icon-arrow-combo:before {
  content: '\e74f'; }

/* 'î' */
.icon-chart-pie:before {
  content: '\e751'; }

/* 'î‘' */
.icon-language:before {
  content: '\e752'; }

/* 'î’' */
.icon-air:before {
  content: '\e753'; }

/* 'î“' */
.icon-database:before {
  content: '\e754'; }

/* 'î”' */
.icon-drive:before {
  content: '\e755'; }

/* 'î•' */
.icon-bucket:before {
  content: '\e756'; }

/* 'î–' */
.icon-thermometer:before {
  content: '\e757'; }

/* 'î—' */
.icon-down-circled:before {
  content: '\e758'; }

/* 'î˜' */
.icon-left-circled:before {
  content: '\e759'; }

/* 'î™' */
.icon-right-circled:before {
  content: '\e75a'; }

/* 'îš' */
.icon-up-circled:before {
  content: '\e75b'; }

/* 'î›' */
.icon-down-open:before {
  content: '\e75c'; }

/* 'îœ' */
.icon-left-open:before {
  content: '\e75d'; }

/* 'î' */
.icon-right-open:before {
  content: '\e75e'; }

/* 'îž' */
.icon-up-open:before {
  content: '\e75f'; }

/* 'îŸ' */
.icon-down-open-mini:before {
  content: '\e760'; }

/* 'î ' */
.icon-left-open-mini:before {
  content: '\e761'; }

/* 'î¡' */
.icon-right-open-mini:before {
  content: '\e762'; }

/* 'î¢' */
.icon-up-open-mini:before {
  content: '\e763'; }

/* 'î£' */
.icon-down-open-big:before {
  content: '\e764'; }

/* 'î¤' */
.icon-left-open-big:before {
  content: '\e765'; }

/* 'î¥' */
.icon-right-open-big:before {
  content: '\e766'; }

/* 'î¦' */
.icon-up-open-big:before {
  content: '\e767'; }

/* 'î§' */
.icon-progress-0:before {
  content: '\e768'; }

/* 'î¨' */
.icon-progress-1:before {
  content: '\e769'; }

/* 'î©' */
.icon-progress-2:before {
  content: '\e76a'; }

/* 'îª' */
.icon-progress-3:before {
  content: '\e76b'; }

/* 'î«' */
.icon-back-in-time:before {
  content: '\e771'; }

/* 'î±' */
.icon-network:before {
  content: '\e776'; }

/* 'î¶' */
.icon-inbox:before {
  content: '\e777'; }

/* 'î·' */
.icon-install:before {
  content: '\e778'; }

/* 'î¸' */
.icon-lifebuoy:before {
  content: '\e788'; }

/* 'îžˆ' */
.icon-mouse:before {
  content: '\e789'; }

/* 'îž‰' */
.icon-dot:before {
  content: '\e78b'; }

/* 'îž‹' */
.icon-dot-2:before {
  content: '\e78c'; }

/* 'îžŒ' */
.icon-dot-3:before {
  content: '\e78d'; }

/* 'îž' */
.icon-suitcase:before {
  content: '\e78e'; }

/* 'îžŽ' */
.icon-flow-cascade:before {
  content: '\e790'; }

/* 'îž' */
.icon-flow-branch:before {
  content: '\e791'; }

/* 'îž‘' */
.icon-flow-tree:before {
  content: '\e792'; }

/* 'îž’' */
.icon-flow-line:before {
  content: '\e793'; }

/* 'îž“' */
.icon-flow-parallel:before {
  content: '\e794'; }

/* 'îž”' */
.icon-brush:before {
  content: '\e79a'; }

/* 'îžš' */
.icon-paper-plane:before {
  content: '\e79b'; }

/* 'îž›' */
.icon-magnet:before {
  content: '\e7a1'; }

/* 'îž¡' */
.icon-gauge:before {
  content: '\e7a2'; }

/* 'îž¢' */
.icon-traffic-cone:before {
  content: '\e7a3'; }

/* 'îž£' */
.icon-cc:before {
  content: '\e7a5'; }

/* 'îž¥' */
.icon-cc-by:before {
  content: '\e7a6'; }

/* 'îž¦' */
.icon-cc-nc:before {
  content: '\e7a7'; }

/* 'îž§' */
.icon-cc-nc-eu:before {
  content: '\e7a8'; }

/* 'îž¨' */
.icon-cc-nc-jp:before {
  content: '\e7a9'; }

/* 'îž©' */
.icon-cc-sa:before {
  content: '\e7aa'; }

/* 'îžª' */
.icon-cc-nd:before {
  content: '\e7ab'; }

/* 'îž«' */
.icon-cc-pd:before {
  content: '\e7ac'; }

/* 'îž¬' */
.icon-cc-zero:before {
  content: '\e7ad'; }

/* 'îž­' */
.icon-cc-share:before {
  content: '\e7ae'; }

/* 'îž®' */
.icon-cc-remix:before {
  content: '\e7af'; }

/* 'îž¯' */
.icon-github:before {
  content: '\f300'; }

/* 'ïŒ€' */
.icon-github-circled:before {
  content: '\f301'; }

/* 'ïŒ' */
.icon-flickr:before {
  content: '\f303'; }

/* 'ïŒƒ' */
.icon-flickr-circled:before {
  content: '\f304'; }

/* 'ïŒ„' */
.icon-vimeo:before {
  content: '\f306'; }

/* 'ïŒ†' */
.icon-vimeo-circled:before {
  content: '\f307'; }

/* 'ïŒ‡' */
.icon-twitter:before {
  content: '\f309'; }

/* 'ïŒ‰' */
.icon-twitter-circled:before {
  content: '\f30a'; }

/* 'ïŒŠ' */
.icon-facebook:before {
  content: '\f30c'; }

/* 'ïŒŒ' */
.icon-facebook-circled:before {
  content: '\f30d'; }

/* 'ïŒ' */
.icon-facebook-squared:before {
  content: '\f30e'; }

/* 'ïŒŽ' */
.icon-gplus:before {
  content: '\f30f'; }

/* 'ïŒ' */
.icon-gplus-circled:before {
  content: '\f310'; }

/* 'ïŒ' */
.icon-pinterest:before {
  content: '\f312'; }

/* 'ïŒ’' */
.icon-pinterest-circled:before {
  content: '\f313'; }

/* 'ïŒ“' */
.icon-tumblr:before {
  content: '\f315'; }

/* 'ïŒ•' */
.icon-tumblr-circled:before {
  content: '\f316'; }

/* 'ïŒ–' */
.icon-linkedin:before {
  content: '\f318'; }

/* 'ïŒ˜' */
.icon-linkedin-circled:before {
  content: '\f319'; }

/* 'ïŒ™' */
.icon-dribbble:before {
  content: '\f31b'; }

/* 'ïŒ›' */
.icon-dribbble-circled:before {
  content: '\f31c'; }

/* 'ïŒœ' */
.icon-stumbleupon:before {
  content: '\f31e'; }

/* 'ïŒž' */
.icon-stumbleupon-circled:before {
  content: '\f31f'; }

/* 'ïŒŸ' */
.icon-lastfm:before {
  content: '\f321'; }

/* 'ïŒ¡' */
.icon-lastfm-circled:before {
  content: '\f322'; }

/* 'ïŒ¢' */
.icon-rdio:before {
  content: '\f324'; }

/* 'ïŒ¤' */
.icon-rdio-circled:before {
  content: '\f325'; }

/* 'ïŒ¥' */
.icon-spotify:before {
  content: '\f327'; }

/* 'ïŒ§' */
.icon-spotify-circled:before {
  content: '\f328'; }

/* 'ïŒ¨' */
.icon-qq:before {
  content: '\f32a'; }

/* 'ïŒª' */
.icon-instagram:before {
  content: '\f32d'; }

/* 'ïŒ­' */
.icon-dropbox:before {
  content: '\f330'; }

/* 'ïŒ°' */
.icon-evernote:before {
  content: '\f333'; }

/* 'ïŒ³' */
.icon-flattr:before {
  content: '\f336'; }

/* 'ïŒ¶' */
.icon-skype:before {
  content: '\f339'; }

/* 'ïŒ¹' */
.icon-skype-circled:before {
  content: '\f33a'; }

/* 'ïŒº' */
.icon-renren:before {
  content: '\f33c'; }

/* 'ïŒ¼' */
.icon-sina-weibo:before {
  content: '\f33f'; }

/* 'ïŒ¿' */
.icon-paypal:before {
  content: '\f342'; }

/* 'ï‚' */
.icon-picasa:before {
  content: '\f345'; }

/* 'ï…' */
.icon-soundcloud:before {
  content: '\f348'; }

/* 'ïˆ' */
.icon-mixi:before {
  content: '\f34b'; }

/* 'ï‹' */
.icon-behance:before {
  content: '\f34e'; }

/* 'ïŽ' */
.icon-google-circles:before {
  content: '\f351'; }

/* 'ï‘' */
.icon-vkontakte:before {
  content: '\f354'; }

/* 'ï”' */
.icon-smashing:before {
  content: '\f357'; }

/* 'ï—' */
.icon-db-shape:before {
  content: '\f600'; }

/* 'ï˜€' */
.icon-sweden:before {
  content: '\f601'; }

/* 'ï˜' */
.icon-logo-db:before {
  content: '\f603'; }

/* 'ï˜ƒ' */
.icon-picture:before {
  content: 'ðŸŒ„'; }

/* '\1f304' */
.icon-globe:before {
  content: 'ðŸŒŽ'; }

/* '\1f30e' */
.icon-leaf:before {
  content: 'ðŸ‚'; }

/* '\1f342' */
.icon-graduation-cap:before {
  content: 'ðŸŽ“'; }

/* '\1f393' */
.icon-mic:before {
  content: 'ðŸŽ¤'; }

/* '\1f3a4' */
.icon-palette:before {
  content: 'ðŸŽ¨'; }

/* '\1f3a8' */
.icon-ticket:before {
  content: 'ðŸŽ«'; }

/* '\1f3ab' */
.icon-video:before {
  content: 'ðŸŽ¬'; }

/* '\1f3ac' */
.icon-target:before {
  content: 'ðŸŽ¯'; }

/* '\1f3af' */
.icon-music:before {
  content: 'ðŸŽµ'; }

/* '\1f3b5' */
.icon-trophy:before {
  content: 'ðŸ†'; }

/* '\1f3c6' */
.icon-thumbs-up:before {
  content: 'ðŸ‘'; }

/* '\1f44d' */
.icon-thumbs-down:before {
  content: 'ðŸ‘Ž'; }

/* '\1f44e' */
.icon-bag:before {
  content: 'ðŸ‘œ'; }

/* '\1f45c' */
.icon-user:before {
  content: 'ðŸ‘¤'; }

/* '\1f464' */
.icon-users:before {
  content: 'ðŸ‘¥'; }

/* '\1f465' */
.icon-lamp:before {
  content: 'ðŸ’¡'; }

/* '\1f4a1' */
.icon-alert:before {
  content: 'ðŸ’¥'; }

/* '\1f4a5' */
.icon-water:before {
  content: 'ðŸ’¦'; }

/* '\1f4a6' */
.icon-droplet:before {
  content: 'ðŸ’§'; }

/* '\1f4a7' */
.icon-credit-card:before {
  content: 'ðŸ’³'; }

/* '\1f4b3' */
.icon-monitor:before {
  content: 'ðŸ’»'; }

/* '\1f4bb' */
.icon-briefcase:before {
  content: 'ðŸ’¼'; }

/* '\1f4bc' */
.icon-floppy:before {
  content: 'ðŸ’¾'; }

/* '\1f4be' */
.icon-cd:before {
  content: 'ðŸ’¿'; }

/* '\1f4bf' */
.icon-folder:before {
  content: 'ðŸ“'; }

/* '\1f4c1' */
.icon-doc-text:before {
  content: 'ðŸ“„'; }

/* '\1f4c4' */
.icon-calendar:before {
  content: 'ðŸ“…'; }

/* '\1f4c5' */
.icon-chart-line:before {
  content: 'ðŸ“ˆ'; }

/* '\1f4c8' */
.icon-chart-bar:before {
  content: 'ðŸ“Š'; }

/* '\1f4ca' */
.icon-clipboard:before {
  content: 'ðŸ“‹'; }

/* '\1f4cb' */
.icon-attach:before {
  content: 'ðŸ“Ž'; }

/* '\1f4ce' */
.icon-bookmarks:before {
  content: 'ðŸ“‘'; }

/* '\1f4d1' */
.icon-book:before {
  content: 'ðŸ“•'; }

/* '\1f4d5' */
.icon-book-open:before {
  content: 'ðŸ“–'; }

/* '\1f4d6' */
.icon-phone:before {
  content: 'ðŸ“ž'; }

/* '\1f4de' */
.icon-megaphone:before {
  content: 'ðŸ“£'; }

/* '\1f4e3' */
.icon-upload:before {
  content: 'ðŸ“¤'; }

/* '\1f4e4' */
.icon-download:before {
  content: 'ðŸ“¥'; }

/* '\1f4e5' */
.icon-box:before {
  content: 'ðŸ“¦'; }

/* '\1f4e6' */
.icon-newspaper:before {
  content: 'ðŸ“°'; }

/* '\1f4f0' */
.icon-mobile:before {
  content: 'ðŸ“±'; }

/* '\1f4f1' */
.icon-signal:before {
  content: 'ðŸ“¶'; }

/* '\1f4f6' */
.icon-camera:before {
  content: 'ðŸ“·'; }

/* '\1f4f7' */
.icon-shuffle:before {
  content: 'ðŸ”€'; }

/* '\1f500' */
.icon-loop:before {
  content: 'ðŸ”'; }

/* '\1f501' */
.icon-arrows-ccw:before {
  content: 'ðŸ”„'; }

/* '\1f504' */
.icon-light-down:before {
  content: 'ðŸ”…'; }

/* '\1f505' */
.icon-light-up:before {
  content: 'ðŸ”†'; }

/* '\1f506' */
.icon-mute:before {
  content: 'ðŸ”‡'; }

/* '\1f507' */
.icon-sound:before {
  content: 'ðŸ”Š'; }

/* '\1f50a' */
.icon-battery:before {
  content: 'ðŸ”‹'; }

/* '\1f50b' */
.icon-search:before {
  content: 'ðŸ”'; }

/* '\1f50d' */
.icon-key:before {
  content: 'ðŸ”‘'; }

/* '\1f511' */
.icon-lock:before {
  content: 'ðŸ”’'; }

/* '\1f512' */
.icon-lock-open:before {
  content: 'ðŸ”“'; }

/* '\1f513' */
.icon-bell:before {
  content: 'ðŸ””'; }

/* '\1f514' */
.icon-bookmark:before {
  content: 'ðŸ”–'; }

/* '\1f516' */
.icon-link:before {
  content: 'ðŸ”—'; }

/* '\1f517' */
.icon-back:before {
  content: 'ðŸ”™'; }

/* '\1f519' */
.icon-flashlight:before {
  content: 'ðŸ”¦'; }

/* '\1f526' */
.icon-chart-area:before {
  content: 'ðŸ”¾'; }

/* '\1f53e' */
.icon-clock:before {
  content: 'ðŸ•”'; }

/* '\1f554' */
.icon-rocket:before {
  content: 'ðŸš€'; }

/* '\1f680' */
.icon-block:before {
  content: 'ðŸš«'; }

/* '\1f6ab' */
