/*
Syntax error: Illegal nesting: Nothing may be nested beneath variable declarations.
        on line 32 of index.html

27: <script src="components/jquery-ui-touch-punch-improved/jquery.ui.touch-punch-improved.js"></script>
28: 
29: <script src="js/slider-captcha.js?ver=0.1"></script>
30: <script>
31: 	$(document).ready(function () {
32: 		$( '#slider' ).sliderCaptcha();
33: 		$( '#slider_contained' ).sliderCaptcha({
34: 			hinttext: "Arraste para continuar",
35: 			hinttext_size: '10px',
36: 			width: '90%',
37: 			height: '30px',

Backtrace:
index.html:32
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:622:in `parse_variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:562:in `parse_line'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:471:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:490:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:480:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:490:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:345:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Illegal nesting: Nothing may be nested beneath variable declarations.\A         on line 32 of index.html\A \A 27: <script src=\"components/jquery-ui-touch-punch-improved/jquery.ui.touch-punch-improved.js\"></script>\A 28: \A 29: <script src=\"js/slider-captcha.js?ver=0.1\"></script>\A 30: <script>\A 31: 	$(document).ready(function () {\A 32: 		$( '#slider' ).sliderCaptcha();\A 33: 		$( '#slider_contained' ).sliderCaptcha({\A 34: 			hinttext: \"Arraste para continuar\",\A 35: 			hinttext_size: '10px',\A 36: 			width: '90%',\A 37: 			height: '30px',"; }
